# Ignore some directories
mod
packages

# Ignore compiled source, and some other stuff
.session.vim
  # my vim sessions
*.pyc
  # python compiled
*.log
*.out
*.err
.*.swp
*error*
*empty*
*example*
  # last one includes file output
old
trash
  # old stuff here
