# Ignore some directories
mod
packages

# Ignore compiled source, and some other stuff
.session.vim
  # my vim sessions
.*.swp
*error
*empty*
  # last one includes file output
old
trash
  # old stuff here
